<div class="container">
  <div class="row">
    <div class="col l3">
      <h4>Your Groups</h4>
    </div>
    <div class="col l3 offset-l6 button-top">
      <%= link_to "Create New Group", new_group_path, class: "btn blue-grey"%>
    </div>
  </div>
  <div class="row">
    <% @active.each do |user_group| %>
      <div class="col l4">
      <h5><%= user_group.group.name %></h5>
      <p><%= user_group.group.description %></p>
      <%= link_to "Visit Group", group_path(user_group.group), class: "btn blue-grey" %>
      </div>
    <% end %>
  </div>
  <hr>
  <h4>Pending Invites</h4>
  <% if @pending.empty? %>
    <h5>No pending invites</h5>
  <% end %>
  <% @pending.each do |user_group| %>
    <div class="row">
      <div class="col s6">
        <h5><%= user_group.group.name %></h5>
      </div>
      <div class="col s3 invitations">
        <%= button_to "Accept Invite", update_user_group_path(user_group, active: true), method: :put, class: "btn green" %>
      </div>
      <div class="col s3 invitations">
        <%= button_to "Decline Invite", user_group_path(user_group), method: :delete, class: "btn red" %>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <p><%= user_group.group.description %></p>
      </div>
    </div>
  <% end %>
</div>
