<div class="container">
  <h4 class="group-title"><%= @group.name %></h4>
  <h5><%= @group.description %></h5>
  <hr>
  <div class="row">
    <div class="col l4">
      <h4>Group Pick:</h4>
    </div>
    <div class="col l8 user_dashboard_watchlist">
      <% if @group.group_watchlists.empty? %>
          <h5>No favorite movie, add one from your watchlist.</h5>
      <% else %>
        <h6 class="center-align"><%= @group.group_watchlists.first.movie.title %></h6>
        <img src="http://image.tmdb.org/t/p/w300<%= @group.group_watchlists.first.movie.poster_path %>"/>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="group-watchlist">
    <h4><%= @group.name %> Watchlist</h4>
    <div class="row">
      <div class="center-align">
        <% if @group.group_watchlists.empty? %>
          <h5>Looks like this group has no movies. Why don't you add some?</h5>
        <% end %>
      </div>
      <% @group.group_watchlists.each do |watchlist| %>
        <div class="col l3 m4 s12 user_dashboard_watchlist">
          <h6 class="center-align"><%= watchlist.movie.title %></h6>
          <a href="/movies/<%= watchlist.movie.id %>"><img src="http://image.tmdb.org/t/p/w300<%= watchlist.movie.poster_path %>"/></a>
          <h6 class="center-align movie-info" data-movie-title="<%= watchlist.movie.title %>">
            <ul>

          </ul>
          </h6>
          <div class="col l8 offset-l2">
          <%= link_to "+", votes_upvote_path(watchlist), method: :post, class: "btn green lighten-3 inline_btn" %>
          <%= link_to "-", votes_downvote_path(watchlist), method: :post, class: "btn deep-orange lighten-1 inline_btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <div id="user-watchlist">
    <div class="row">
      <div class="col l6">
        <h5>Add From Your Watchlist</h5>
        <%= form_tag(@group_watchlist) do %>
          <ul>
            <%= collection_check_boxes(:group, :movie_ids, @movies, :id, :title) do |b| %>
            <%= hidden_field_tag(:id, @group.id)%>
              <li>
              <%= b.check_box %>
              <%= b.label %>
              </li>
            <% end %>
          </ul>
          <%= submit_tag "Add to Group Watchlist", class: "btn blue-grey lighten-1" %>
        <% end %>
      </div>
      <div class="add-user-to-group col l6">
        <h5>Add a User to Your Group</h5>
        <%= form_tag("/user_groups", method: "post") do %>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
        <%= hidden_field_tag :id, "#{@group.id}" %>
        <%= submit_tag "Submit", class: "btn blue-grey" %>
        <% end  %>
      </div>
    </div>
  </div>
</div>
