<div class="container">
  <h2 class="group-title center-align"><%= @group.name %></h2>
  <h4 class="center-align"><%= @group.description %></h4>
  <div class="group-watchlist">
    <h3 class="center-align"><%= @group.name %> Watchlist</h3>
    <div class="row">
      <% @group.group_watchlists.each do |watchlist| %>
        <div class="col l3 m4 s12 user_dashboard_watchlist">
          <h6 class="center align"><%= watchlist.movie.title %></h6>
          <img src="http://image.tmdb.org/t/p/w300<%= watchlist.movie.poster_path %>"/>
        </div>
      <% end %>
    </div>
  </div>
  <div id="user-watchlist">
    <h4 class="center-align">Add From Your Watchlist</h4>
    <div class="row">
      <div class="col l4 offset-l4">
        <%= form_tag(@group_watchlist) do %>
          <ul>
            <%= collection_check_boxes(:group, :movie_ids, @movies, :id, :title) do |b| %>
            <%= hidden_field_tag(:group_id, @group.id)%>
              <li>
              <%= b.check_box %>
              <%= b.label %>
              </li>
            <% end %>
          </ul>
          <%= submit_tag "Add to Group Watchlist", class: "btn blue-grey lighten-1" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
