<div class="container">
  <h2 class="group-title"><%= @group.name %></h2>
  <h4><%= @group.description %></h4>

  <div id="user-watchlist">
    <%= form_tag(@group_watchlist) do %>
      <ul>
        <%= collection_check_boxes(:group, :movie_ids, @movies, :id, :title) do |b| %>
        <%= hidden_field_tag(:group_id, @group.id)%>
          <li>
          <%= b.check_box %>
          <%= b.label %>
          </li>
        <% end %>
      </ul>
      <%= submit_tag "Add to Group Watchlist" %>
    <% end %>
  </div>
  <div class="group-watchlist">
    <h3><%= @group.name %> Watchlist</h3>
    <ul>
      <% @group.movies.each do |movie| %>
        <li><%= movie.title %></li>
      <% end %>
    </ul>
  </div>
</div>
