<div class="container">
<h3>Update Your Profile, <%= link_to "@#{current_user.username}", "https://www.twitter.com/#{current_user.username}" %>:</h3>

<div class="col l3 m4 s12">
  <%= form_for @user do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.submit class: "btn  amber" %>
  <% end %>
</div>
</div>
