<div class="container">
  <div class="row">
    <div class="col s6 offset-s3">
      <h4><%= current_user.username %> Dashboard</h4>
    </div>
  </div>
  <div class="row">
  <div class="col s12 offset-s1">
  <%= link_to "My Groups", user_path(current_user), class: "btn waves-effect waves-light blue-grey lighten-1"%>
  <%= link_to "Create New Group", new_group_path, class: "btn waves-effect waves-light blue-grey lighten-1"%>
  <%= link_to "Pick For #{current_user.username}", user_path(current_user), class: "btn waves-effect waves-light blue-grey lighten-1" %>
  <%= link_to "Search For Flicks", search_path, class: "btn waves-effect waves-light blue-grey lighten-1"%>
  </div>
  <div class="row">
    <div class="col l4 offset-l4 user_dashboard_watchlist">
      <h4>Your Watchlist</h4>
    </div>
  </div>
  <div class="row">
    <% @user_watchlists.each do |watchlist| %>
      <div class="col l3 m4 s12 user_dashboard_watchlist">
        <h6 class="center align"><%= watchlist.movie.title %></h6>
        <img src="http://image.tmdb.org/t/p/w300<%= watchlist.movie.poster_path %>"/>
          <ul>
            <% if watchlist.watched? %>
              <li data-id="<%= watchlist.id %>" data-watched="false" class="watched-true-user-watchlist"><%= button_to "watched", "#", class: "btn  blue-grey lighten-3" %></li>
            <% else %>
              <li data-id="<%= watchlist.id %>" data-watched="true" class="watched-true-user-watchlist"><%= button_to "mark as watched", "#", class: "btn  amber" %></li>
            <% end %>
          </ul>
      </div>
      <% end %>
  </div>
  <div class="row">
    <div class="col s6 offset-s3">
      <h4>Top Recommendation in Sci-Fi</h4>
  </div>
  </div>
  <div class="row">
  <div class="col l2">
    <%= image_tag "terminator2.jpg" %>
    </div>
    <div class="col l8 offset-l2">
      <h3>Terminator 2: Judgment Day</h3>
      <p>"A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her young son, John Connor, from a more advanced cyborg, made out of liquid metal."</p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s6 offset-s4">
      <h4>Your Groups</h4>
  </div>
  </div>
  <div class="row">
    <div class="col l4">
      <%= image_tag "2001.jpg"%><h4>Space Cadets</h4>
    </div>
    <div class="col l4">
      <%= image_tag "back_to_the_future.jpg" %><h4>Futurists</h4>
    </div>
    <div class="col l4">
      <%= image_tag "district9.jpg" %><h4>Aliens</h4>
    </div>
  </div>
</div>
