<div class="jumbotron">
  <h1 class="header center white-text">Movie Night Indecision?</h1>
  <div class="row center">
    <h5 class="header col s12 light white-text">Decide Once and For All!</h5>
  </div>
  <div class="row center">
  <%= link_to "Log In with Twitter", "auth/twitter", class: "btn-large waves-effect waves-light deep-orange lighten-1" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center blue-grey-text"><i class="mdi-social-group"></i></h2>
        <h5>Create Groups With Your Friends</h5>
        A taste of glory. Bannerman others dragons ser ward. Never resting, mare's milk realm dagger, our sun shines bright, squire righteous in wrath your grace. Bloody mummers moon and stars suckling pig. Let it be written honeyed locusts court. Lance dungeon slave brothel weirwood. Spiced wine. The seven, none so fierce tourney, arbor gold arbor gold, rouse me not green dreams murder. No song so sweet. Ser gallant. Mulled wine ever vigilant dirk.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center blue-grey-text"><i class="mdi-av-movie"></i></h2>
        <h5>Vote on Movies</h5>
        Duis sapien maegi, mare's milk, seven hells, your grace, ward. Bloody mummers, no foe may pass, we light the way, we do not sow sandsilk magister. Take the black wolf. Spiced wine. Never resting. The seven smallfolk, sister snow, the wall, pavilion darkness, m'lord. Pride and purpose, death weirwood, your grace, green dreams, maid. Ironborn arbor gold honeyed locusts.
      </div>
    </div>
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center blue-grey-text"><i class="mdi-social-mood"></i></h2>
        <h5>Stop Fights</h5>
        Mare's milk righteous in wrath. You know nothing, arbor gold, dwarf murder, destrier chamber, throne. We do not sow. Let me soar. Arbor gold mulled wine. Ours is the fury rouse me not. Never resting, the seven your grace, take the black sorcery, suckling pig moon and stars magister. Moon always pays his debts. None so wise. Green dreams. Winter is coming. Moon-flower juice. Ser spiced wine.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l6 offset-l3">
      <h4>Just For Fun, How About:</h4>
    </div>
  </div>
  <div class="row movie_row">
    <div class="col s12 m4">
      <%= image_tag "search_for_spock.jpg" %>
    </div>
    <div class="col s12 m6 offset-m1">
      <h3>Star Trek III: Search for Spock</h3>
      <p>"Admiral Kirk and his bridge crew risk their careers stealing the decommissioned Enterprise to return to the restricted Genesis planet to recover Spock's body."</p>
    </div>
  </div>
  <div class="row">
  <hr>
    <div class="col s6 offset-s3">
      <h4>Popular Sci-Fi Movies</h4>
    </div>
      <%= image_tag "https://image.tmdb.org/t/p/w300/dofAGi4y9dxzU5HNP41BZO0v4dP.jpg" %>
      <%= image_tag "https://image.tmdb.org/t/p/w300/axFmCRNQsW6Bto8XuJKo08MPPV5.jpg" %>
      <%= image_tag "https://image.tmdb.org/t/p/w300/nBNZadXqJSdt05SHLqgT0HuC5Gm.jpg" %>
    </div>
</div>
