<% if current_user %>
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "Dashboard", user_path(current_user) %></li>
    <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
  </ul>
<% end %>

<nav>
  <div class="nav-wrapper blue-grey darken-4 logo">
    <%= link_to "Pick-A-Flick", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li><a class="dropdown-button" href="#" data-activates="dropdown1" >My Account <i class="mdi-navigation-arrow-drop-down right"></i></a></li>
        <li><%= link_to "My Watchlist", user_watchlists_path %></li>
        <li><%= link_to "My Groups", user_groups_path %></li>
        <li><%= link_to "Search Flicks", search_path %></li>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
      <% end %>
    </ul>
  </div>
 </nav>
