<nav>
  <div class="nav-wrapper blue-grey darken-4 logo">
    <%= link_to "Pick-A-Flick", root_path, class: "brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li><%= link_to "My Account", user_path(current_user) %></li>
        <li><%= link_to "My Watchlist", "#" %></li>
        <li><%= link_to "My Groups", user_groups_path %></li>
        <li><%= link_to "Search Flicks", search_path %></li>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
      <% end %>
    </ul>
  </div>
 </nav>
