<!DOCTYPE html>
<html>
<head>
  <title>Pick-A-Flick</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => 'layouts/nav' %>
  <div class="footer_height">
    <div class="container">
      <div class="row">
        <div class="col l6 offset-l3">
          <% flash.each do |type, message| %>
          <%= content_tag :div, message, class: "#{type} flash_message center-align" %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>

  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Pick-A-Flick</h5>
                <p class="grey-text text-lighten-4">Boldly Decide on Movie Night</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Carmer/Flick_Treck">Find Us on Github</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
</body>
</html>
